@import 'assets/variables';

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;

}

.hidden {
  display: none;
}
.ant-btn {
  background-color: #1A3D73;
  border: none;
  color: #ffffff;
}

.ant-btn-primary {
  background-color: #F8991D;
  border: none;
  color: #ffffff;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}
