@import '../assets/variables';

// -----------------------------------------------------------------------------
//
// Typography
//
// -----------------------------------------------------------------------------
@mixin font--primary($weight: 300, $style: normal) {
  font-family: $font--primary;
  font-weight: $weight;
  font-style: $style;
}

@mixin font--secondary() {
  font-family: $font--secondary;
}

@mixin text-large {
  @include font-size($font-size--body--large);
  line-height: $line-height--body--large;

  @media #{$normal} {
    @include font-size($desktop--font-size--body--large);
    line-height: $desktop--line-height--body--large;
  }
}

@mixin text-small {
  @include font-size($font-size--body--small);
  line-height: $line-height--body--small;

  @media #{$normal} {
    @include font-size($desktop--font-size--body--small);
    line-height: $desktop--line-height--body--small;
  }
}

@mixin font-size($size) {
  font-size: #{$size}px;
  font-size: #{$size / 10}rem;
}

// -----------------------------------------------------------------------------
//
// Flexbox
//
// -----------------------------------------------------------------------------

@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin align-items($position: center) {
  -webkit-box-align: $position;
  -moz-box-align: $position;
  -ms-flex-align: $position;
  -webkit-align-items: $position;
  align-items: $position;
}

// -----------------------------------------------------------------------------
//
// Buttons
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//
// Custom
//
// -----------------------------------------------------------------------------

@mixin vertical-center($position: relative, $rotate: 0) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate($rotate);
  -ms-transform: translateY(-50%) rotate($rotate);
  transform: translateY(-50%) rotate($rotate);
}

@mixin center-center($position: relative) {
  position: $position;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

@mixin image-stretch {
  position: absolute;
  top: -999.9rem;
  right: -999.9rem;
  bottom: -999.9rem;
  left: -999.9rem;
  margin: auto;
  max-width: none;
  min-width: 100%;
  min-height: 100%;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
  }
}
