@import '../../../styles/assets/variables';
@import '../../../styles/assets/mixins';

.iz-overviewList {

  -webkit-overflow-scrolling: touch;
    padding: 20px 10px 0px 10px;
    &__search {
        padding-bottom: 20px;

        .ant-input-suffix {
            top: 16px;
        }
    }
    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
    &--loading {
        @include center-center(absolute);
    }
}
